$dark: #0a2342;
$accent: #f66f1c;
$accent-light: #f68d36;
$gray-light: #fafafa;
$gray-dark: #7a7a7a;
$white: #fff;
$green-dark: #02bab7;
$green-light: #00d7c6;
$yellow-dark: #ffc128;
$yellow-light: #ffd54f;
