$dark: #0a2342;
$accent: #F66F1C;
$accent-light: #F68D36;
$gray-light: #fafafa;
$gray-dark: #7a7a7a;
$white: #fff;
$green-dark: #02BAB7;
$green-light: #00D7C6;
$yellow-dark: #FFC128;
$yellow-light: #FFD54F;
